*{      
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         color: green;
         margin-right:100 0px;
}     

body{
     position: relative;
     background-color: darkgray;
     margin-right: 1% ;
     padding:0;
}
/* Header Section*/
 #title{
     display:flex;
     flex-direction: column;
 }

 #links{
     display: inline-flex;
     flex-direction: column;
     padding-bottom: 12%;
 }

/* PORTFOLIO SECTION */
#portfolio-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
 }

 #winnipeg{
     width: 100%;
     border-radius: 15px;
 }

 /* My Career Section */
#MyCareer {
     font-size: large;
     display: flex;
     flex-direction: column;
     width: 75%;
     border: 1px solid black;
     border-radius:15px;
     background-color: midnightblue;
}


#UGA {
     display: flex;
     flex-direction: row;
}

#UGAvsVandy2k17 {
     width: 500px;
     border-radius: 15px;
}

/* My College Career Section*/
#MyCollegeCareer {
     display:flex;
     background-color:midnightblue ;
     flex-direction:column;
     width: 75%;
     border: 4px solid black;
     border-radius:15px;
     font-size: large;
}

#MyDawgWalk {
     display:flex;
     flex-direction: row;
}

#GoDawgs {
     width: 500px;
     border-radius:15px ;
}



 main{
     padding-top: 5px;
 }
  h1{
     text-align: center;
     line-height: 100px;
     margin-bottom: 100px;
  }

  h2{
     text-align: left;
     line-height: 100px;
     margin-bottom: 0;
  }
  h2{
     text-align: left;
     line-height: 100px;
     margin-bottom:0 ;
 }


header,
footer {
     position:relative;
     width: 100%;
     height: 100px;
     line-height: 80px;
     border-bottom:10px solid black;
     background-color: midnightblue;
}









